@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
body {
    margin: 0;
    background: #F8F8F8;
    color: #333;
}

.the-header {
    padding-top: 5vmin;
    display: block;
    zoom: 1;
}

.logo {
    border: 3px solid currentColor;
    color: #333;
    padding: 14px 28px 12px 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Reem Kufi",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.the-header .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrap {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
}

.wrap, .wrap--alt {
    max-width: 1280px;
}

.the-navigation {
    float: right;
    margin-right: -12px;
}

ol, ul {
    list-style: none;
}

.the-navigation li {
    float: left;
}

.the-navigation li {
    display: inline-block;
    margin-right: 40px;
}

.the-navigation ul li i {
    color: black;
    font-size: 28px;
}